.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.title{
    text-align: center;
    font-family: cursive;
}