<mat-grid-list cols="1" class="container">
    <div class="register-body">
    <div class="register-container">
        <h1 class="title">register</h1>
        <form ngForm #registerForm="ngForm">
            <mat-form-field class="inp">
                <mat-label>username</mat-label>
                <input name="username" id="username" ngModel #username="ngModel" matInput placeholder="" value=""
                    required>
            </mat-form-field>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
                <div *ngIf="email.errors?.['required']">username is required.</div>
            </div>
            <mat-form-field class="inp">
                <mat-label>email</mat-label>
                <input name="email" id="email" ngModel #email="ngModel" pattern=".+@.+\..+" matInput placeholder=""
                    value="" required>
            </mat-form-field>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                <div *ngIf="email.errors?.['required']">email is required.</div>
                <div *ngIf="email.errors?.['pattern']">email invalid</div>
            </div>
            <mat-form-field class="inp">
                <mat-label>Enter your password</mat-label>
                <input name="password" required ngModel #password="ngModel" matInput
                    [type]="hide1 ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                <div *ngIf="password.errors?.['required']">password is required.</div>
            </div>
            <mat-form-field class="inp">
                <mat-label>Enter your password again</mat-label>
                <input name="checkPassword" required ngModel #checkPassword="ngModel" matInput
                    [type]="hide2 ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div *ngIf="checkPassword.invalid && (checkPassword.dirty || checkPassword.touched)" class="alert">
                <div *ngIf="checkPassword.errors?.['required']">password is required.</div>
            </div>
            <mat-form-field class="inp">
                <mat-label>city</mat-label>
                <input name="city" id="city" ngModel #city="ngModel" matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field class="inp">
                <mat-label>street</mat-label>
                <input name="street" id="street" ngModel #street="ngModel" matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field class="inp">
                <mat-label>house number</mat-label>
                <input name="houseNumber" id="houseNumber" ngModel #houseNumber="ngModel" matInput placeholder=""
                    value="" type="number">
            </mat-form-field>

            <button [disabled]="registerForm.invalid" mat-flat-button class="register-btn btn "
                (click)="register(username.value,email.value,password.value)">register</button>
        </form>
    </div>
    </div>
</mat-grid-list>