.container{   
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.register-container{
   display: flex;
   flex-direction: column;
   align-items: stretch;
   width: 100%;
   margin-top: 10px;
}
.title{
   text-align: center;
   font-family: cursive;
}
.alert{ 
   width: 40%;

   div{
   background-color: #fed3d3;
   color: #820000;
   padding: 0.75rem;
   margin-bottom: 1rem;
 }
}
 .inp{
    width: 46%;
    margin: 10px;
 }
 .register-btn{
   background-color: rgb(116, 9, 9) !important;
   width: 100%;
   color: white !important;
 }
 .register-container {
   box-shadow: 1px 1px 19px 1px #2c29292b;
   padding: 2rem;
   border-radius: 15px;
   // margin: 10px;
}
.register-body {
   display: flex;
   flex-direction: column;
   align-items: center;
}
@media (max-width: 600px) {
   .container{
      //  height: 100%;
       top: 0;
   }
   .register-container{
    width: 90%;
   }
   .inp{
    width: 90%;
   }
}